* {
  @apply antialiased leading-relaxed;
}

html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html {
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
}
body {
  @apply bg-white text-gray-500;
}
.dark body {
  @apply bg-dark text-gray-300;
}

h1,
b,
strong {
  @apply font-semibold;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  @apply text-gray-900 dark:text-gray-100;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  @apply text-gray-800 dark:text-gray-200 no-underline hover:text-black dark:hover:text-white;
}
h1 {
  @apply text-4xl font-extrabold tracking-tight mt-10;
}
h2 {
  @apply text-3xl font-semibold tracking-tight mt-10;
  /* @apply pb-1 border-b; */
}
/* .dark h2 {
  @apply border-gray-900;
} */
h3 {
  @apply text-2xl font-semibold tracking-tight mt-10;
}
h4 {
  @apply text-xl font-semibold tracking-tight mt-8;
}
h5 {
  @apply text-lg font-semibold tracking-tight mt-8;
}
h6 {
  @apply text-base font-semibold tracking-tight mt-8;
}
a {
  @apply text-indigo-500 hover:text-indigo-600 underline;
}
.dark a {
  @apply text-indigo-300 hover:text-indigo-200;
}
p {
  @apply my-5 leading-8;
}
hr {
  @apply my-8;
}
.dark hr {
  @apply border-gray-900;
}
code {
  @apply text-gray-800 bg-gray-500 bg-opacity-25 rounded;
}
.dark code {
  @apply text-gray-300 bg-gray-800;
}
pre {
  @apply p-4 bg-gray-900 rounded-lg mt-6 mb-4 overflow-x-auto;
  @apply dark:bg-gray-800;
}
pre code {
  @apply p-0 text-sm text-black bg-transparent rounded-none inline-block min-w-full;
}
a code {
  @apply text-current no-underline;
}

code {
  font-size: 0.9em;
  padding: 2px 0.25em;
}
code:not(.prism-code) {
  @apply px-1 text-xs align-middle text-pink-700 bg-pink-50 whitespace-nowrap;
  @apply dark:text-pink-200 dark:bg-pink-500;
}
.dark code:not(.prism-code) {
  @apply bg-opacity-50;
}
figure {
  @apply mb-8 relative;
}
figure figcaption {
  @apply text-sm text-gray-600;
}
@media (min-width: 768px) {
  figure {
    /* allow figures to overflow, but not exceeding the viewport width */
    @apply -mr-56;
    max-width: calc(100vw - 20rem);
  }
}

.main-container {
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  @apply select-none md:border-r md:dark:border-gray-700;
}
.sidebar ul ul {
  @apply ml-5 relative;
}
.sidebar a:focus-visible,
.sidebar button:focus-visible {
  @apply ring;
}
.sidebar .active-anchor {
  @apply font-semibold text-gray-900 dark:text-white;
}
.sidebar li.active > a {
  @apply font-semibold text-pink-700 bg-pink-50;
}
.dark .sidebar li.active > a {
  @apply text-pink-200 bg-pink-500 bg-opacity-50;
}
.sidebar button,
.sidebar a {
  @apply block w-full text-left text-base no-underline text-gray-500 mt-1 p-2 rounded select-none outline-none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/* .dark .sidebar button,
.dark .sidebar a {
  @apply text-gray-300;
} */
.sidebar a:hover,
.sidebar button:hover {
  @apply text-gray-900 bg-gray-50;
}
.dark .sidebar a:hover,
.dark .sidebar button:hover {
  @apply text-white bg-gray-700;
}
.sidebar > ul > li > button,
.sidebar > ul > li > a {
  @apply mt-0 mx-0 mb-3 text-gray-800 dark:text-gray-500 text-sm font-semibold uppercase tracking-wide;
}
.sidebar > ul > li > div > ul > li {
  @apply mb-5;
}
.sidebar > ul > li > div > ul > li > button {
  @apply m-0 text-xs text-gray-400 dark:text-gray-600 font-bold uppercase tracking-wide;
}
.sidebar > ul > li > div > ul > li > div > ul > li > a {
  @apply m-0 text-gray-600 dark:text-gray-400 text-sm font-medium leading-snug;
}
.sidebar > ul > li > div > ul > li > div > ul > li > ul > a {
  @apply py-1 px-2 text-xs dark:text-gray-300;
}

/* CONTENT */
content ul {
  @apply list-none ml-6 mt-6;
}
content li {
  @apply mt-2 leading-relaxed;
}
content ul li::before {
  @apply inline-block w-4 -ml-4 text-pink-500 dark:text-pink-400;
  content: '\2022';
}
content ol {
  counter-reset: item;
  @apply list-none ml-8 mt-6;
}
content ol li {
  @apply relative;
}
content ol li::before {
  content: counter(item);
  counter-increment: item;
  @apply absolute top-0 left-0 mt-1 flex items-center justify-center -ml-8 text-xs font-bold w-6 h-6 bg-pink-50 text-pink-600 rounded-full;
  @apply dark:bg-pink-500 dark:text-pink-200;
}
.dark content ol li::before {
  @apply bg-opacity-50;
}
content blockquote {
  @apply mt-6 py-0 px-6 border-l-4 border-pink-400;
  @apply dark:border-pink-500;
}
content.docs-container {
  @apply xl:pr-64;
}

.subheading-anchor {
  margin-top: -84px;
  display: inline-block;
  position: absolute;
  width: 1px;
}

.subheading-anchor + a:hover .anchor-icon {
  opacity: 1;
}
.anchor-icon {
  opacity: 0;
  @apply ml-2 text-gray-500 select-none;
}
.dark .anchor-icon {
  @apply text-gray-700;
}

/* NAVBAR */
.nextra-container nav {
  @apply dark:border-gray-700;
}
.nextra-container nav a {
  @apply text-gray-800 dark:text-gray-200 hover:opacity-100 hover:text-black dark:hover:text-white;
}
.nextra-container nav a:focus,
.nextra-container nav summary:focus {
  @apply select-none outline-none;
}
.nextra-container nav a:focus-visible,
.nextra-container nav summary:focus-visible {
  @apply ring select-none outline-none;
}

/* SEARCH */
.nextra-search input {
  @apply border-gray-300 text-gray-900;
}
.dark .nextra-search input {
  @apply bg-dark border-gray-700 text-gray-100;
}
.nextra-search input::placeholder {
  @apply text-gray-400;
}
.dark .nextra-search input::placeholder {
  @apply text-gray-600;
}
.nextra-search ul {
  @apply bg-white text-gray-100 border-gray-300 divide-gray-300 overflow-hidden;
}
.dark .nextra-search ul {
  @apply bg-dark text-gray-100 border-gray-600 divide-gray-700;
}
.nextra-search ul li {
  @apply text-gray-700;
}
.nextra-search ul li.active {
  @apply bg-gray-100;
}
.dark .nextra-search ul li {
  @apply text-gray-300;
}
.dark .nextra-search ul li.active {
  @apply bg-gray-800;
}
.nextra-search ul li .highlight {
  @apply bg-yellow-300;
}
.dark .nextra-search ul li .highlight {
  @apply bg-yellow-700;
}
.search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* LOCALE */
.locale-switch summary::-webkit-details-marker {
  display: none;
}
.locale-switch[open] summary:before {
  content: ' ';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  cursor: default;
  background: transparent;
}
.locale-switch .locale-dropdown {
  position: absolute;
  z-index: 11;
}

/* TABLE */
table {
  @apply p-0 mt-6 w-full text-sm;
}
table thead {
  @apply text-gray-600 font-semibold border-none border-b border-gray-200;
}
table tr {
  @apply m-0 p-0 border-b border-gray-200;
  @apply dark:border-gray-600;
}
table tr th {
  @apply align-bottom pt-0 px-2 pb-2 font-semibold text-left;
}
table tr td {
  @apply align-top p-2 text-left;
}
table tr th:first-child,
table tr td:first-child {
  @apply pl-0;
}
table tr th:last-child,
table tr td:last-child {
  @apply pr-0;
}

.contains-task-list {
  @apply list-none ml-0;
}

.contains-task-list input[type='checkbox'] {
  @apply mr-1;
}

/* CUSTOM COMPONENTS CSS */
.callout {
  @apply p-2 rounded text-gray-800 bg-pink-50;
  @apply dark:bg-pink-500 dark:text-gray-100;
}
.dark .callout {
  @apply bg-opacity-50;
}
.callout p {
  @apply mb-0;
}
.callout a {
  @apply text-pink-600 hover:text-pink-700;
  @apply dark:text-pink-200 dark:hover:text-pink-100;
}

/* ALGOLIA SEARCH */
.docs-search > span {
  width: 100%;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header span {
  display: inline-block;
}
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
  min-width: 300px;
  max-width: calc(100vw - 50px);
}
